body{
  padding-top: 150px;
}

a{
  color:black;
}

a:hover{
  color:orange;
}
.navbar-default {
    background:white;
    border-bottom:1px dotted rgb(220,220,220);
}
h2 { 
  font-size:2.2em;
  font-weight: 800;
  color: black;
  margin: 0px;
}

h1{
  font-size:3em;
  font-weight: 900;
  color:black;
  margin: 0px;
}

.navbar h4 { 
  font-weight: 300;
  color:black;
  border-bottom: 5px solid black;
  padding-right: 55px;
  padding-left: 5px;
  transition-property: padding-left, padding-right,border-bottom;
  transition-duration: .5s;
}

.navbar h4:hover { 
  color:black;
  border-bottom: 5px solid orange;
  padding-right: 30px;
  padding-left: 30px;
}



.navbar-nav > li{
  margin-right:30px;
}

.navbar button{

  margin-bottom: 42px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 900px; /* or 950px */
}

.sidebar{ 

  position: fixed;
}
.sidebar-link h5{
  color:black;
  font-weight: 200;
}

.sidebar-link h5:hover{
  color:black;
  font-weight: 200;
}

.content-container{
  margin-bottom: 20px;
  margin-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(245,245,245)
}

.muted{
  font-weight: 100;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
.circled{
  border-radius: 50%;
  border:1px solid black;
  float:left;
  width: 28px;
  height: 28px;
  text-align: center;
  margin: 5px
}

.page-nav{
  font-size: large;
  font-weight: 100;
  margin-top: auto;
}

.portfolio-img{
  width: 270px;
  height: auto;
  clip: rect();
  border-radius: 50%;
  border:1px solid #B8B8B8;
  z-index: 1;
}

.portfolio-grid{
  text-align: center;
}

.portfolio-grid-cell{
  margin-bottom:10px;
  margin-top: 20px;
}

.project-info{
  position: absolute;
  top: 0;
  z-index: 2;
  width:270px;
  height:270px;
  border-radius:50%;
  font-size:20px;
  color:rgba(0,0,0,.0);
  font-size: 2em;
  font-weight: 900;
  line-height:270px;
  text-align:center;
  background:rgba(255,255,255,.2);
  transition-property: background, color;
  transition-duration: 1s;
}

.project-info:hover{
  color:#fff;
  background:rgba(255,165,0,.9);
}

.read-more {
  font-weight: 300;
}

.title{
  text-align: center;
}

